<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <ion-card mode="ios">
        <ion-card-header>
            <ion-card-title>Proveedores</ion-card-title>
            <ion-card-subtitle>{{title}}</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
            <form [formGroup]="FormProveedor" (ngSubmit)="guardar()">
                <ion-item>
                    <ion-input type="text" formControlName="nit" label="Nit Proveedor" labelPlacement="floating" placeholder="Enter a valid nombre" [clearInput]="true"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-input type="text" formControlName="nombre" label="Nombre Proveedor" labelPlacement="floating" placeholder="Enter a valid nombre" [clearInput]="true"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-input type="text" formControlName="direccion" label="Dirección Proveedor" labelPlacement="floating" placeholder="Enter a valid nombre" [clearInput]="true"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-input type="text" formControlName="telefono" label="Telefono Proveedor" labelPlacement="floating" placeholder="Enter a valid nombre" [clearInput]="true"></ion-input>
                </ion-item>
                <ion-button expand="block" color="primary" type="submit" [disabled]="!FormProveedor.valid">
                    Guardar
                </ion-button>
            </form>
        </ion-card-content>
    </ion-card>
</ion-content>